In [6]:
import pandas as pd
import numpy as np
import os

In [23]:
data_folder = './data'
data_format = 'csv'
print(f'All files in folder: {os.listdir(data_folder)}')
files = []

for file in os.listdir(data_folder):
    if file.endswith(data_format):
        files.append(file)
print(f'Filtred files: {files}')

All files in folder: ['2021.xlsx', '2022.xlsx', '2023.xlsx', 'mensinglesatp.csv']
Filtred files: ['mensinglesatp.csv']

In [22]:
file_path =os.path.join(data_folder, files[0])
df = pd.read_csv(file_path)

In [10]:
df.tail()

,game_type,competition,gender,player1,player2,odd1,odd2,date,player1AtpRank,player1AtpPoints,player2AtpRank,player2AtpPoints
36,singles,Mauthausen Challenger Men,men,Delbonis F.,Guinard M.,1.33,3.25,05/08/2023,215.0,270.0,267.0,201.0
37,singles,Francavilla Challenger Men,men,Giustino L.,Kukushkin M.,1.73,2.00,05/08/2023,229.0,253.0,295.0,176.0
38,singles,Francavilla Challenger Men,men,Collignon R.,Pacheco Mendez R.,1.30,3.40,05/08/2023,211.0,273.0,878.0,17.0
39,singles,Francavilla Challenger Men,men,Mager G.,Piraino G.,1.36,3.00,05/08/2023,276.0,188.0,478.0,83.0
40,singles,Francavilla Challenger Men,men,Svrcina D.,Kuzmanov D.,1.91,1.80,05/08/2023,NaN,NaN,191.0,305.0

In [11]:
df = df[df['game_type'] != 'doubles']
df = df[df['gender'] != 'women']
df=df.dropna()

In [12]:
df.tail()

,game_type,competition,gender,player1,player2,odd1,odd2,date,player1AtpRank,player1AtpPoints,player2AtpRank,player2AtpPoints
35,singles,Mauthausen Challenger Men,men,Neuchrist M.,Bagnis F.,2.50,1.50,05/08/2023,184.0,323.0,116.0,505.0
36,singles,Mauthausen Challenger Men,men,Delbonis F.,Guinard M.,1.33,3.25,05/08/2023,215.0,270.0,267.0,201.0
37,singles,Francavilla Challenger Men,men,Giustino L.,Kukushkin M.,1.73,2.00,05/08/2023,229.0,253.0,295.0,176.0
38,singles,Francavilla Challenger Men,men,Collignon R.,Pacheco Mendez R.,1.30,3.40,05/08/2023,211.0,273.0,878.0,17.0
39,singles,Francavilla Challenger Men,men,Mager G.,Piraino G.,1.36,3.00,05/08/2023,276.0,188.0,478.0,83.0

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27 entries, 0 to 39
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   game_type         27 non-null     object
 1   competition       27 non-null     object
 2   gender            27 non-null     object
 3   player1           27 non-null     object
 4   player2           27 non-null     object
 5   odd1              27 non-null     float64
 6   odd2              27 non-null     float64
 7   date              27 non-null     object
 8   player1AtpRank    27 non-null     float64
 9   player1AtpPoints  27 non-null     float64
 10  player2AtpRank    27 non-null     float64
 11  player2AtpPoints  27 non-null     float64
dtypes: float64(6), object(6)
memory usage: 2.7+ KB

In [14]:
df.to_csv('./exports/scraped_cleaned.csv', index=False)

In [24]:
df_old = pd.read_csv('./exports/combined_data_cleared_enhanced.csv')

In [25]:
print(df.columns)
print(df_old.columns)

Index(['game_type', 'competition', 'gender', 'player1', 'player2', 'odd1',
       'odd2', 'date', 'player1AtpRank', 'player1AtpPoints', 'player2AtpRank',
       'player2AtpPoints'],
      dtype='object')
Index(['Court', 'Surface', 'Round', 'Best of', 'Winner', 'Loser', 'WRank',
       'LRank', 'WPts', 'LPts', 'B365W', 'B365L', 'PSW', 'PSL', 'rank_diff',
       'point_diff', 'player_1_won', 'player_1', 'player_2', 'player_1_rank',
       'player_2_rank', 'player_1_points', 'player_2_points', 'player_1_odds',
       'player_2_odds', 'bookie_wrong', 'target'],
      dtype='object')

In [26]:
df = df.rename(columns={'player1': 'Winner', 'player2': 'Loser', 'player1AtpRank': 'WRank', 'player2AtpRank': 'LRank', 'player1AtpPoints': 'WPts', 'player2AtpPoints': 'LPts', 'odd1': 'B365W', 'odd2': 'B365L' })

In [27]:
result_df = pd.concat([df_old, df])
result_df = result_df.drop(columns=['game_type','competition','gender','date'])

In [28]:
result_df.tail()

,Court,Surface,Round,Best of,Winner,Loser,WRank,LRank,WPts,LPts,...,player_1,player_2,player_1_rank,player_2_rank,player_1_points,player_2_points,player_1_odds,player_2_odds,bookie_wrong,target
36,NaN,NaN,NaN,NaN,Delbonis F.,Guinard M.,215.0,267.0,270.0,201.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NaN,NaN,NaN,NaN,Giustino L.,Kukushkin M.,229.0,295.0,253.0,176.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,NaN,NaN,NaN,Collignon R.,Pacheco Mendez R.,211.0,878.0,273.0,17.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,NaN,NaN,NaN,Mager G.,Piraino G.,276.0,478.0,188.0,83.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,NaN,NaN,NaN,NaN,Svrcina D.,Kuzmanov D.,NaN,191.0,NaN,305.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
result_df.to_csv('./exports/concat_clean.csv', index=False)